<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form class="mt-4" (ngSubmit)="loginWithForm()" [formGroup]="loginForm">
        <ion-title>Welcome to SVTickets!</ion-title>

        @if(loginErrorCode() === 401) {
        <ion-alert message="Email or password are incorrect." color="danger" isOpen="true"></ion-alert>
        }

        <ion-list>
            <div class="mb-3">
                @let emailControl = loginForm.get('email');
                @let emailErrors = emailControl?.errors;

                <ion-label for="email">Email:</ion-label>
                <ion-input type="email" name="email" id="email" placeholder="Email" required formControlName="email"/>

                @if (emailControl?.touched || emailControl?.dirty) {
                    @if (emailErrors?.['required']) {
                    <ion-text color="danger">Email cannot be empty.</ion-text>
                    }

                    @if (emailErrors?.['email']) {
                    <ion-text color="danger">Email must be an email.</ion-text>
                    }
                }
            </div>
            <div class="mb-3">
                @let passwordControl = loginForm.get("password");
                @let passwordErrors = passwordControl?.errors;

                <ion-label for="password">Password:</ion-label>
                <ion-input type="password" name="password" id="password" placeholder="Password" required formControlName="password"/>

                @if (passwordControl?.touched || passwordControl?.dirty) {
                    @if(passwordErrors?.['required']) {
                        <ion-text color="danger">Password cannot be empty</ion-text>
                    }
                }
            </div>
        </ion-list>

        <!-- Google login would go here
        <div id="googleLogin">

        </div> -->

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button fill="outline" [routerLink]="['/auth/register']">
                        <ion-icon name="person-add-outline" slot="start"></ion-icon>
                        Create account
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button type="submit" color="primary" [disabled]="loginForm.invalid">
                        <ion-icon name="log-in" slot="start"></ion-icon>
                        Login
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>