<form class="mt-4" (ngSubmit)="loginWithForm()" [formGroup]="loginForm">
    <legend>Welcome to SVTickets!</legend>

    @if(loginErrorCode() === 401) {
        <div class="alert alert-danger">Email or password are incorrect.</div>
    }

    <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required formControlName="email" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"/>
    
        @let emailErrors = loginForm.get('email')?.errors;

        @if(emailErrors?.['required']) {
            <div class="invalid-feedback">Email cannot be empty.</div>
        }
    
        @if(emailErrors?.['email']) {
            <div class="invalid-feedback">Email must be an email.</div>
        }
    </div>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required formControlName="password" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"/>
    
        @let passwordErrors = loginForm.get('password')?.errors;

        @if(passwordErrors?.['required']) {
            <div class="invalid-feedback">Password cannot be empty</div>
        }
    </div>
    
    <div>
        <google-login class="btn btn-google" (login)="loginWithGoogle($event)"></google-login>
    </div>
    
    @defer () {
        <div googleLogin class="btn"></div>
    }

    <div>
        <a class="btn btn-secondary" [routerLink]="['/auth/register']" role="button">Create account</a>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </div>
</form>
