<form class="mt-4" (ngSubmit)="register()" [formGroup]="registerForm">
    <legend>Create an account</legend>
    
    @if(registerErrorCode() === 400) {
        <div class="alert alert-danger">User with that email already exists.</div>
    }

    <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"/>

        @let nameErrors = registerForm.get('name')?.errors;

        @if(nameErrors?.['required']) {
            <div class="invalid-feedback">Name cannot be empty.</div>
        }
    </div>
    <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required formControlName="email" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"/>
    
        @let emailErrors = registerForm.get('email')?.errors;
        
        <!-- @if(emailErrors?.['serverError']) {
            <div class="invalid-feedback">Email already exists.</div>
        } -->

        @if(emailErrors?.['required']) {
            <div class="invalid-feedback">Email cannot be empty.</div>
        }
    
        @if(emailErrors?.['email']) {
            <div class="invalid-feedback">Email must be an email.</div>
        }

    </div>
    <div class="mb-3">
        <label for="repeatEmail">Repeat Email:</label>
        <input type="email" class="form-control" id="repeatEmail" name="repeatEmail" placeholder="Repeat Email" required formControlName="repeatEmail" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"/>
    
        @let repeatEmailErrors = registerForm.get('repeatEmail')?.errors;

        @if(repeatEmailErrors?.['required']) {
            <div class="invalid-feedback">Email cannot be empty.</div>
        }
        
        @if(repeatEmailErrors?.['email']) {
            <div class="invalid-feedback">Email must be an email.</div>
        }
        @else if (repeatEmailErrors?.['emailMismatch']) {
            <div class="invalid-feedback">Emails do not match.</div>
        }
    </div>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required formControlName="password" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"/>

        @let passwordErrors = registerForm.get('password')?.errors;

        @if(passwordErrors?.['required']) {
            <div class="invalid-feedback">Password cannot be empty.</div>
        }

        @if(passwordErrors?.['minlength']) {
            <div class="invalid-feedback">Password must be at least 4 characters long.</div>
        }
    </div>
    <div class="form-row">
        <div class="mb-3 col">
            <label for="lat">Latitude:</label>
            <input type="text" class="form-control" id="lat" name="lat" placeholder="Geolocating..." readonly formControlName="lat"/>
        </div>
        <div class="mb-3 col">
            <label for="lng">Longitude:</label>
            <input type="text" class="form-control" id="lng" name="lng" placeholder="Geolocating..." readonly formControlName="lng"/>
        </div>
    </div>
    <div class="mb-3">
        <label for="avatar">Avatar image</label>
        <input type="file" class="form-control" id="avatar" name="avatar" encodeBase64 (encoded)="base64image = $event" formControlName="avatar" #fileInput (change)="checkImage(fileInput)" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"/>
    
        @let avatarErrors = registerForm.get('image')?.errors;

        @if (avatarErrors?.['required']) {
            <div class="invalid-feedback">An avatar is required.</div>
        }
    </div>

    @if (base64image) {
		<img [src]="base64image" alt="" id="imgPreview" class="img-thumbnail mb-3">
    }

    <p class="text-danger" id="errorInfo"></p>
    <a class="btn btn-secondary" [routerLink]="['/auth/login']" role="button">Go back</a>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Create account</button>
</form>