<div class="container">
    <div class="left-column">
        @if (event()) {
            <div class="mt-4">
                <event-card [event]="event()!" (deleted)="goBack()" (attend)="showAttendees(event().id)"></event-card>
            </div>

            <div class="mt-4 mb-4">
                <button class="btn btn-success" (click)="goBack()">Go back</button>
            </div>
            
            <div class="card mt-4">
                <div class="card-header bg-success text-white" id="address">{{ event().address || 'No address available' }}</div>
                <div id="map">
                    <div class="map-container">
                        <ol-map [coordinates]="[event().lng, event().lat]">
                            <ol-marker [coordinates]="[event().lng, event().lat]"></ol-marker>
                        </ol-map>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="right-column">
        @if (event() && attendees().length) {
            <div class="card mt-4 mb-4">
                <div class="card-header bg-danger text-white" id="address">Attendees to the event</div>
                <ul class="list-group" id="userList">
                    @for (attendee of attendees(); track attendee.id) {
                        <li class="list-group-item">
                            <a class="avatar" [routerLink]="attendee.me ? ['/profile'] : ['/profile', attendee.id]">
                                <img class="rounded-circle float-start me-3" style="width: 40px;" [src]="attendee.avatar" [alt]="attendee.name"/>
                            </a>
                            <div>
                                <div><a class="text-decoration-none name" [routerLink]="attendee.me ? ['/profile'] : ['/profile', attendee.id]">{{ attendee.name }}</a></div>
                                <div>
                                    <small class="email">{{ attendee.email }}</small>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }

        @if (commentErrorCode() === 400) {
            <div class="alert alert-danger">You cannot comment on an event you are not attending to.</div>
        }

        <form class="mt-4" (ngSubmit)="addComment()" [formGroup]="commentForm">
            <div class="form-group">
                <textarea class="form-control" name="comment" placeholder="Write a comment" formControlName="comment" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"></textarea>
            
                @let commentErrors = commentForm.get('comment')?.errors;

                @if (commentErrors?.['required']) {
                    <div class="invalid-feedback">Comment is required.</div>
                }
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="commentForm.invalid">Send</button>
        </form>

        @if (comments().length) {
            <div class="card mt-4 mb-4">
                <div class="card-header bg-info text-white" id="address">User comments</div>
                <ul class="list-group" id="userComments">
                    @for (comment of comments(); track comment.id) {
                            <li class="list-group-item">
                            <div class="row">
                                <div class="col-auto text-center user-info">
                                    <a class="avatar" [routerLink]="comment.user?.me !== null ? ['/profile'] : ['/profile', comment.user?.id]">
                                        <img class="avatar rounded-circle" [src]="comment.user?.avatar" [alt]="comment.user?.name"/>
                                    </a> 
                                    <div><small><a class="text-decoration-none name" [routerLink]="comment.user?.me !== null ? ['/profile'] : ['/profile', comment.user?.id]">{{ comment.user!.name }}</a></small></div>
                                    <div><small class="date">{{ comment.date | date : "dd/MM/yyyy" }}</small></div>
                                </div>
                                <div class="col comment">
                                    {{ comment.comment }}
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>