<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Events</ion-title>
        <ion-searchbar type="text" name="search" id="search" placeholder="Search" aria-label="Search"
            [formControl]="searchControl" debounce="600"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="orderBy('distance')">Order by Distance</ion-button>
            <ion-button (click)="orderBy('date')">Order by Date</ion-button>
            <ion-button (click)="orderBy('price')">Order by Price</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh()">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" [routerLink]="['/events/add']" [routerDirection]="'root'">
            <ion-icon name="add-sharp"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- [@animateList]="events().length" -->
    <ion-grid class="mb-4 mt-4">
        <ion-row>
            @if (events().length) {
                @for (event of events(); track event.id) {
                <ion-col size="12" size-md="6" size-xl="4">
                    <app-event-card [event]="event" (deleted)="handleEventDeleted($event)"></app-event-card>
                </ion-col>
                }
            }
            @else if (firstRenderFinished) {
                <div class="col">
                    <ion-card color="danger">
                        <ion-card-header>
                            <ion-card-title>No events found</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            Please try adjusting your search criteria.
                        </ion-card-content>
                    </ion-card>
                </div>
            }
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll #infinite (ionInfinite)="loadMoreEvents()" [disabled]="!more()">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>