<ion-col>
    <ion-card class="card h-100 shadow">
        <a [routerLink]="['/events', event().id]">
            @if (error()) {
            <div class="card-img-placeholder">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                        d="M21 7v10c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V7c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2zm-10 9c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3zm7-7h-4.17L16 7H8l1.17 2H5v10h14V9z">
                    </path>
                </svg>
            </div>
            }
            @else {
            <img class="card-img-top" [src]="event().image" [alt]="event().title" (error)="imageNotFound()" />
            }
        </a>
        <ion-card-content class="card-body">
            <ion-card-title class="card-title">
                <a class="text-decoration-none" [routerLink]="['/events', event().id]">
                {{ event().title }}
                </a>
            </ion-card-title>
            <p class="card-text">{{ event().description }}</p>

            <ion-grid>
                <ion-row class="row space-between">
                    <ion-col>
                    @if (event().mine) {
                        <ion-button (click)="presentActionSheet()">Actions</ion-button>
                    }
                    </ion-col>
                    <ion-col size="auto" class="ion-text-end">
                        <ion-row class="ion-align-items-center ion-justify-content-end">
                            <ion-icon name="people-sharp" class="padding-right"></ion-icon> 
                            {{ event().numAttend }}
                        </ion-row>
                        <ion-row class="ion-align-items-center ion-justify-content-end" [ngStyle]="{'color': event().attend ? '#198754' : '#DF4655'}">
                            @if (event().attend) {
                                <ion-icon name="thumbs-up-sharp" class="padding-right"></ion-icon>
                            }
                            @else {
                                <ion-icon name="thumbs-down-sharp" class="padding-right"></ion-icon>
                            }
                            {{ event().attend ? 'I\'m going' : 'Not going' }}
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
        <ion-card-content>
            <ion-grid>
                <ion-row class="card-footer text-muted row m-0">
                    <ion-col style="display: flex; flex-direction: row;">
                        <div class="avatar">
                            <a [routerLink]="event().mine ? ['/profile'] : ['/profile', event().creator.id]">
                                <img [src]="event().creator.avatar" class="rounded-circle" [alt]="event().creator.name" />
                            </a>
                        </div>
                        <div class="ion-padding-start">
                            <ion-row class="name">
                                <a [routerLink]="event().mine ? ['/profile'] : ['/profile', event().creator.id]">
                                    {{ event().creator.name }}
                                </a>
                            </ion-row>
                            <ion-row class="date small text-muted">
                                {{ event().date | date : "dd/MM/yyyy" }}
                            </ion-row>
                        </div>
                    </ion-col>
                    <ion-col size="auto" class="ion-text-end text-muted">
                        <div class="price small">{{ event().price | currency : "EUR" : "es-ES" }}</div>
                        <div class="distance small">{{ event().distance | eventDistance }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-col>